API_URL = "http://localhost:8080"
PORT=8080
GIN_MODE=release

JWT_ACCESS_SECRET=my_access_token_secret_key
JWT_ACCESS_EXPIRATION_HOURS=1

JWT_REFRESH_SECRET=my_refresh_token_secret_key
JWT_REFRESH_EXPIRATION_HOURS=24

TOKEN_SECRET1=kWneyu0DOJXvtIinZuy4MGnr
TOKEN_SECRET2=un3WmTjm6xogi86L

POSTGRES_DSN=user=postgres password=sdfsdfwer3qe3e3edwdeqe host=db.sfasdasdasdwe.supabase.co port=5432 dbname=postgres

GITHUB_ALLOW_LOGIN=1
GITHUB_CLIENT_ID="213fsdf453ffg34rf"
GITHUB_CLIENT_SECRET="fvfwerjio23uoi3hiofh32oubdouwbfu"

SMTP_HOST = "in-v3.mailjet.com"
SMTP_PORT = 587
SMTP_USERNAME = "qwr23423twggggdf8"
SMTP_PASSWORD = "bgbt9349tlkjds888"

MAIL_CONFIRMATION = 0

RATE_LIMIT = "40-H"

ALLOW_ORIGINS="http://localhost:3000 http://localhost:80"